# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
# For a detailed guide to building and testing on Android, read the docs:
# https://circleci.com/docs/2.0/language-android/ for more details.
version: 2.1

# Orbs are reusable packages of CircleCI configuration that you may share across projects, enabling you to create encapsulated, parameterized commands, jobs, and executors that can be used across multiple projects.
# See: https://circleci.com/docs/2.0/orb-intro/
orbs:
  android: circleci/android@2.1.2

jobs:
  build-project:
    executor:
      name: android/android-machine
      resource-class: large
      tag: 2021.10.1

    steps:
      # Checkout the code as the first step.
      - checkout
      - run:
          name: build library
          command: |
            make assemble-phone

      - run:
          name: publish jitpack build to local repository
          command: |
            make publish-maven-local-jitpack

      - run:
          name: build test app
          command: |
            make assemble-app
      - run:
          name: build java doc
          command: |
            make java-doc
      - store_artifacts:
          path: code/android-analytics-library/build/libs

  unit-test:
    executor:
      name: android/android-machine
      resource-class: large
      tag: 2021.10.1

    steps:
      # Checkout the code as the first step.
      - checkout
      - android/create-avd:
          avd-name: myavd
          install: true
          system-image: system-images;android-29;default;x86
      - run:
          name: unit test
          command: |
            make unit-test
      - run:
          name: code coverage
          command: |
            make unit-test-coverage
      - run:
          name: Upload Code Coverage Report
          command: |
            curl -s https://codecov.io/bash > codecov;
            VERSION=$(grep 'VERSION=\"[0-9\.]*\"' codecov | cut -d'"' -f2);
            SHAVERSION=$(shasum -v);
            echo "Using CodeCov version '$VERSION'"
            echo "Using shasum '$SHAVERSION'"
            for i in 1 256 512
            do
              shasum -a $i -c --ignore-missing <(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM") ||
              shasum -a $i -c <(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM" | grep -w "codecov")
            done
            bash ./codecov -v -X s3 -c -D "./code/android-analytics-library/build/reports/coverage/test/phone/debug" -F unit-functional-tests
  integration-test:
    executor:
      name: android/android-machine
      resource-class: large
      tag: 2022.01.1

    steps:
      - checkout

      - android/start-emulator-and-run-tests:
          system-image: system-images;android-29;default;x86
          post-emulator-launch-assemble-command: make assemble-phone
          test-command: make integration-test
# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  build-it: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    jobs:
      - build-project
      - unit-test
      - integration-test
      # - functional-test
